<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoEditDlg" widgetVar="ProductoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductoTitle}">
            <h:form id="ProductoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProductoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{productoController.selected.nombre}" title="#{bundle.EditProductoTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditProductoLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{productoController.selected.precio}" title="#{bundle.EditProductoTitle_precio}" />
                        <p:outputLabel value="#{bundle.EditProductoLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{productoController.selected.cantidad}" title="#{bundle.EditProductoTitle_cantidad}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.update}" value="Guardar" update="@all" oncomplete="handleSubmit(args, 'ProductoEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="ProductoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
