<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoViewDlg" widgetVar="ProductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductoTitle}">
            <h:form id="ProductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productoController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductoLabel_id}"/>
                        <h:outputText value="#{productoController.selected.id}" title="#{bundle.ViewProductoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_nombre}"/>
                        <h:outputText value="#{productoController.selected.nombre}" title="#{bundle.ViewProductoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_precio}"/>
                        <h:outputText value="#{productoController.selected.precio}" title="#{bundle.ViewProductoTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_cantidad}"/>
                        <h:outputText value="#{productoController.selected.cantidad}" title="#{bundle.ViewProductoTitle_cantidad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
