<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HabitacionCreateDlg" widgetVar="HabitacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateHabitacionTitle}">
            <h:form id="HabitacionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{habitacionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateHabitacionLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{habitacionController.selected.estado}" title="#{bundle.CreateHabitacionTitle_estado}" />
                        <p:outputLabel value="#{bundle.CreateHabitacionLabel_tipoHabitacion}" for="tipoHabitacion" />
                        <p:selectOneMenu id="tipoHabitacion" value="#{habitacionController.selected.tipoHabitacion}" >
                            <f:selectItems value="#{tipoHabitacionController.itemsAvailableSelectOne}"
                                           var="tipoHabitacionItem"
                                           itemValue="#{tipoHabitacionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{habitacionController.create}" value="#{bundle.Save}" update="display,:HabitacionListForm:datalist,:growl" oncomplete="handleSubmit(args,'HabitacionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HabitacionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
