<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HabitacionEditDlg" widgetVar="HabitacionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Editar habitación">
            <h:form id="HabitacionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{habitacionController.selected != null}">
                        <p:outputLabel value="Número de habitación"/>
                        <p:inputText value="#{habitacionController.selected.id}"/>
                        <p:outputLabel value="Tipo de habitación" for="tipoHabitacion" />
                        <p:selectOneMenu id="tipoHabitacion" style="width: 100%" value="#{habitacionController.selected.tipoHabitacion}" >
                            <f:selectItem itemLabel="Seleccione uno"/>
                            <f:selectItems value="#{tipoHabitacionController.itemsAvailableSelectOne}"
                                           var="tipoHabitacionItem"
                                           itemValue="#{tipoHabitacionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{habitacionController.update}" value="#{bundle.Save}" update="@all" oncomplete="handleSubmit(args, 'HabitacionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HabitacionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
