<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HabitacionViewDlg" widgetVar="HabitacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewHabitacionTitle}">
            <h:form id="HabitacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{habitacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewHabitacionLabel_id}"/>
                        <h:outputText value="#{habitacionController.selected.id}" title="#{bundle.ViewHabitacionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewHabitacionLabel_estado}"/>
                        <h:outputText value="#{habitacionController.selected.estado}" title="#{bundle.ViewHabitacionTitle_estado}"/>
                        <h:outputText value="#{bundle.ViewHabitacionLabel_tipoHabitacion}"/>
                        <h:outputText value="#{habitacionController.selected.tipoHabitacion}" title="#{bundle.ViewHabitacionTitle_tipoHabitacion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="HabitacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
