<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturaCreateDlg" widgetVar="FacturaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFacturaTitle}">
            <h:form id="FacturaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{facturaController.selected.fecha}" title="#{bundle.EditFacturaTitle_fecha}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_cliente}" for="cliente" />
                        <p:inputText id="cliente" value="#{facturaController.selected.cliente}" title="#{bundle.CreateFacturaTitle_cliente}" />
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{facturaController.selected.estado}" title="#{bundle.CreateFacturaTitle_estado}" />
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{facturaController.selected.iva}" title="#{bundle.CreateFacturaTitle_iva}" />
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_usuarioId}" for="usuarioId" />z
                        <p:selectOneMenu id="usuarioId" value="#{facturaController.selected.usuarioId}" >
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="usuarioIdItem"
                                           itemValue="#{usuarioIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateFacturaLabel_servicioId}" for="servicioId" />
                        <p:selectOneMenu id="servicioId" value="#{facturaController.selected.servicioId}" >
                            <f:selectItems value="#{servicioController.itemsAvailableSelectOne}"
                                           var="servicioIdItem"
                                           itemValue="#{servicioIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturaController.create}" value="#{bundle.Save}" update="display,:FacturaListForm:datalist,:growl" oncomplete="handleSubmit(args,'FacturaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
