<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturaEditDlg" widgetVar="FacturaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFacturaTitle}">
            <h:form id="FacturaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFacturaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{facturaController.selected.fecha}" title="#{bundle.EditFacturaTitle_fecha}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_cliente}" for="cliente" />
                        <p:inputText id="cliente" value="#{facturaController.selected.cliente}" title="#{bundle.EditFacturaTitle_cliente}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{facturaController.selected.estado}" title="#{bundle.EditFacturaTitle_estado}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_valorTotal}" for="valorTotal" />
                        <p:inputText id="valorTotal" value="#{facturaController.selected.valorTotal}" title="#{bundle.EditFacturaTitle_valorTotal}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{facturaController.selected.iva}" title="#{bundle.EditFacturaTitle_iva}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_valorNeto}" for="valorNeto" />
                        <p:inputText id="valorNeto" value="#{facturaController.selected.valorNeto}" title="#{bundle.EditFacturaTitle_valorNeto}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_usuarioId}" for="usuarioId" />
                        <p:selectOneMenu id="usuarioId" value="#{facturaController.selected.usuarioId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="usuarioIdItem"
                                           itemValue="#{usuarioIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_servicioId}" for="servicioId" />
                        <p:selectOneMenu id="servicioId" value="#{facturaController.selected.servicioId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{servicioController.itemsAvailableSelectOne}"
                                           var="servicioIdItem"
                                           itemValue="#{servicioIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturaController.update}" value="#{bundle.Save}" update="display,:FacturaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FacturaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
