<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturaViewDlg" widgetVar="FacturaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="Detalle factura">
            <h:form id="FacturaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                        <h:outputText value="Código factura"/>
                        <h:outputText value="#{servicioController.facturaSelected.id}" title="#{bundle.ViewFacturaTitle_id}"/>
                        <h:outputText value="Fecha de creación de la factura"/>
                        <h:outputText value="#{servicioController.facturaSelected.fecha}" title="#{bundle.ViewFacturaTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="Estado de la factura"/>
                        <h:outputText value="#{servicioController.facturaSelected.estado}" title="#{bundle.ViewFacturaTitle_estado}"/>
                        <h:outputText value="Producto adicional"/>
                        <h:outputText value="#{servicioController.facturaSelected.servicioId.productoAdicional.nombre} * 
                                      #{servicioController.facturaSelected.servicioId.productoAdicional.cantidad} unidad(es)" title="#{bundle.ViewFacturaTitle_valorTotal}"/>
                        <h:outputText value="Valor del producto adicional"/>
                        <h:outputText value="$#{servicioController.facturaSelected.servicioId.productoAdicional.precio} C/U" title="#{bundle.ViewFacturaTitle_valorTotal}"/>
                        <h:outputText value="Valor de la habitación"/>
                        <h:outputText value="$#{servicioController.facturaSelected.servicioId.habitacion.tipoHabitacion.precio}" title="#{bundle.ViewFacturaTitle_cliente}"/>
                        <h:outputText value="IVA"/>
                        <h:outputText value="#{servicioController.facturaSelected.iva}" title="#{bundle.ViewFacturaTitle_iva}"/>
                        <h:outputText value="Valor antes de IVA"/>
                        <h:outputText value="$#{servicioController.facturaSelected.valorTotal}" title="#{bundle.ViewFacturaTitle_valorNeto}"/>
                        <h:outputText value="Valor después de IVA"/>
                        <h:outputText value="$#{servicioController.facturaSelected.valorNeto}" title="#{bundle.ViewFacturaTitle_valorNeto}"/>
                        <p:commandButton value="Cerrar" onclick="FacturaViewDialog.hide()"/>
                        <p:commandButton id="editButton" icon="ui-icon-pencil" value="Cambiar estado" update="@all" disabled="#{empty facturaController.selected}"
                                         action="#{servicioController.cambiarEstadoFactura()}"/>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
