<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoHabitacionViewDlg" widgetVar="TipoHabitacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoHabitacionTitle}">
            <h:form id="TipoHabitacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoHabitacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoHabitacionLabel_id}"/>
                        <h:outputText value="#{tipoHabitacionController.selected.id}" title="#{bundle.ViewTipoHabitacionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewTipoHabitacionLabel_descripcion}"/>
                        <h:outputText value="#{tipoHabitacionController.selected.descripcion}" title="#{bundle.ViewTipoHabitacionTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewTipoHabitacionLabel_precio}"/>
                        <h:outputText value="#{tipoHabitacionController.selected.precio}" title="#{bundle.ViewTipoHabitacionTitle_precio}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoHabitacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
