<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ServicioEditDlg" widgetVar="ServicioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditServicioTitle}">
            <h:form id="ServicioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{servicioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditServicioLabel_checkIn}" for="checkIn" />
                        <p:calendar id="checkIn" pattern="MM/dd/yyyy" value="#{servicioController.selected.checkIn}" title="#{bundle.EditServicioTitle_checkIn}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditServicioLabel_checkOut}" for="checkOut" />
                        <p:calendar id="checkOut" pattern="MM/dd/yyyy" value="#{servicioController.selected.checkOut}" title="#{bundle.EditServicioTitle_checkOut}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditServicioLabel_habitacion}" for="habitacion" />
                        <p:selectOneMenu id="habitacion" style="width: 100%" value="#{servicioController.selected.habitacion}" >
                            <f:selectItem itemLabel="Seleccione uno"/>
                            <f:selectItems value="#{habitacionController.itemsAvailableSelectOne}"
                                           var="habitacionItem"
                                           itemValue="#{habitacionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Producto adicional" for="productoAdicional" />
                        <p:selectOneMenu id="productoAdicional" style="width: 100%" value="#{servicioController.selected.productoAdicional}" >
                            <f:selectItem itemLabel="Seleccione uno"/>
                            <f:selectItems value="#{productoController.itemsAvailableSelectOne}"
                                           var="productoAdicionalItem"
                                           itemValue="#{productoAdicionalItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{servicioController.update}" value="Guardar" update="@all" oncomplete="handleSubmit(args, 'ServicioEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="ServicioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
