<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ServicioViewDlg" widgetVar="ServicioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewServicioTitle}">
            <h:form id="ServicioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{servicioController.selected != null}">
                        <h:outputText value="#{bundle.ViewServicioLabel_id}"/>
                        <h:outputText value="#{servicioController.selected.id}" title="#{bundle.ViewServicioTitle_id}"/>
                        <h:outputText value="#{bundle.ViewServicioLabel_checkIn}"/>
                        <h:outputText value="#{servicioController.selected.checkIn}" title="#{bundle.ViewServicioTitle_checkIn}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewServicioLabel_checkOut}"/>
                        <h:outputText value="#{servicioController.selected.checkOut}" title="#{bundle.ViewServicioTitle_checkOut}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewServicioLabel_habitacion}"/>
                        <h:outputText value="#{servicioController.selected.habitacion}" title="#{bundle.ViewServicioTitle_habitacion}"/>
                        <h:outputText value="#{bundle.ViewServicioLabel_productoAdicional}"/>
                        <h:outputText value="#{servicioController.selected.productoAdicional}" title="#{bundle.ViewServicioTitle_productoAdicional}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ServicioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
