<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoHosteriaCreateDlg" widgetVar="TipoHosteriaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipoHosteriaTitle}">
            <h:form id="TipoHosteriaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoHosteriaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipoHosteriaLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{tipoHosteriaController.selected.descripcion}" title="#{bundle.CreateTipoHosteriaTitle_descripcion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoHosteriaController.create}" value="#{bundle.Save}" update="display,:TipoHosteriaListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipoHosteriaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoHosteriaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
