<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoHosteriaEditDlg" widgetVar="TipoHosteriaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoHosteriaTitle}">
            <h:form id="TipoHosteriaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoHosteriaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoHosteriaLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{tipoHosteriaController.selected.descripcion}" title="#{bundle.EditTipoHosteriaTitle_descripcion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoHosteriaController.update}" value="Guardar" update="@all" oncomplete="handleSubmit(args, 'TipoHosteriaEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="TipoHosteriaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
