<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoHosteriaViewDlg" widgetVar="TipoHosteriaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoHosteriaTitle}">
            <h:form id="TipoHosteriaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoHosteriaController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoHosteriaLabel_id}"/>
                        <h:outputText value="#{tipoHosteriaController.selected.id}" title="#{bundle.ViewTipoHosteriaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewTipoHosteriaLabel_descripcion}"/>
                        <h:outputText value="#{tipoHosteriaController.selected.descripcion}" title="#{bundle.ViewTipoHosteriaTitle_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoHosteriaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
