<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BitacoraCreateDlg" widgetVar="BitacoraCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBitacoraTitle}">
            <h:form id="BitacoraCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bitacoraController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBitacoraLabel_accion}" for="accion" />
                        <p:inputText id="accion" value="#{bitacoraController.selected.accion}" title="#{bundle.CreateBitacoraTitle_accion}" />
                        <p:outputLabel value="#{bundle.CreateBitacoraLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{bitacoraController.selected.fecha}" title="#{bundle.EditBitacoraTitle_fecha}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBitacoraLabel_facturaId}" for="facturaId" />
                        <p:selectOneMenu id="facturaId" value="#{bitacoraController.selected.facturaId}" >
                            <f:selectItems value="#{facturaController.itemsAvailableSelectOne}"
                                           var="facturaIdItem"
                                           itemValue="#{facturaIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bitacoraController.create}" value="#{bundle.Save}" update="display,:BitacoraListForm:datalist,:growl" oncomplete="handleSubmit(args,'BitacoraCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BitacoraCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
