<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BitacoraViewDlg" widgetVar="BitacoraViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBitacoraTitle}">
            <h:form id="BitacoraViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bitacoraController.selected != null}">
                        <h:outputText value="#{bundle.ViewBitacoraLabel_id}"/>
                        <h:outputText value="#{bitacoraController.selected.id}" title="#{bundle.ViewBitacoraTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBitacoraLabel_accion}"/>
                        <h:outputText value="#{bitacoraController.selected.accion}" title="#{bundle.ViewBitacoraTitle_accion}"/>
                        <h:outputText value="#{bundle.ViewBitacoraLabel_fecha}"/>
                        <h:outputText value="#{bitacoraController.selected.fecha}" title="#{bundle.ViewBitacoraTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBitacoraLabel_facturaId}"/>
                        <h:outputText value="#{bitacoraController.selected.facturaId}" title="#{bundle.ViewBitacoraTitle_facturaId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BitacoraViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
