<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoUsuarioEditDlg" widgetVar="TipoUsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoUsuarioTitle}">
            <h:form id="TipoUsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoUsuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoUsuarioLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{tipoUsuarioController.selected.descripcion}" title="#{bundle.EditTipoUsuarioTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditTipoUsuarioLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{tipoUsuarioController.selected.estado}" title="#{bundle.EditTipoUsuarioTitle_estado}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoUsuarioController.update}" value="#{bundle.Save}" update="display,:TipoUsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipoUsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoUsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
