<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HosteriaCreateDlg" widgetVar="HosteriaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateHosteriaTitle}">
            <h:form id="HosteriaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{hosteriaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateHosteriaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{hosteriaController.selected.nombre}" title="#{bundle.CreateHosteriaTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateHosteriaLabel_tipoHosteria}" for="tipoHosteria" />
                        <p:selectOneMenu id="tipoHosteria" value="#{hosteriaController.selected.tipoHosteria}" >
                            <f:selectItems value="#{tipoHosteriaController.itemsAvailableSelectOne}"
                                           var="tipoHosteriaItem"
                                           itemValue="#{tipoHosteriaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{hosteriaController.create}" value="#{bundle.Save}" update="display,:HosteriaListForm:datalist,:growl" oncomplete="handleSubmit(args,'HosteriaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HosteriaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
