<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HosteriaEditDlg" widgetVar="HosteriaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditHosteriaTitle}">
            <h:form id="HosteriaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{hosteriaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditHosteriaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{hosteriaController.selected.nombre}" title="#{bundle.EditHosteriaTitle_nombre}" />
                        <p:outputLabel value="Tipo de hosteria" for="tipoHosteria" />
                        <p:selectOneMenu id="tipoHosteria" style="width: 100%" value="#{hosteriaController.selected.tipoHosteria}" >
                            <f:selectItem itemLabel="Seleccione uno"/>
                            <f:selectItems value="#{tipoHosteriaController.itemsAvailableSelectOne}"
                                           var="tipoHosteriaItem"
                                           itemValue="#{tipoHosteriaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{hosteriaController.update}" value="Guardar" update="@all" oncomplete="handleSubmit(args, 'HosteriaEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="HosteriaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
