<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HosteriaViewDlg" widgetVar="HosteriaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewHosteriaTitle}">
            <h:form id="HosteriaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{hosteriaController.selected != null}">
                        <h:outputText value="#{bundle.ViewHosteriaLabel_id}"/>
                        <h:outputText value="#{hosteriaController.selected.id}" title="#{bundle.ViewHosteriaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewHosteriaLabel_nombre}"/>
                        <h:outputText value="#{hosteriaController.selected.nombre}" title="#{bundle.ViewHosteriaTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewHosteriaLabel_tipoHosteria}"/>
                        <h:outputText value="#{hosteriaController.selected.tipoHosteria}" title="#{bundle.ViewHosteriaTitle_tipoHosteria}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="HosteriaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
