<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SuscripcionEditDlg" widgetVar="SuscripcionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSuscripcionTitle}">
            <h:form id="SuscripcionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{suscripcionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSuscripcionLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{suscripcionController.selected.descripcion}" title="#{bundle.EditSuscripcionTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditSuscripcionLabel_valor}" for="valor" />
                        <p:inputText id="valor" value="#{suscripcionController.selected.valor}" title="#{bundle.EditSuscripcionTitle_valor}" />
                        <p:outputLabel value="#{bundle.EditSuscripcionLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{suscripcionController.selected.estado}" title="#{bundle.EditSuscripcionTitle_estado}" />
                        <p:outputLabel value="#{bundle.EditSuscripcionLabel_plazo}" for="plazo" />
                        <p:inputText id="plazo" value="#{suscripcionController.selected.plazo}" title="#{bundle.EditSuscripcionTitle_plazo}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{suscripcionController.update}" value="#{bundle.Save}" update="display,:SuscripcionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SuscripcionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SuscripcionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
