<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SuscripcionViewDlg" widgetVar="SuscripcionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSuscripcionTitle}">
            <h:form id="SuscripcionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{suscripcionController.selected != null}">
                        <h:outputText value="#{bundle.ViewSuscripcionLabel_id}"/>
                        <h:outputText value="#{suscripcionController.selected.id}" title="#{bundle.ViewSuscripcionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSuscripcionLabel_descripcion}"/>
                        <h:outputText value="#{suscripcionController.selected.descripcion}" title="#{bundle.ViewSuscripcionTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewSuscripcionLabel_valor}"/>
                        <h:outputText value="#{suscripcionController.selected.valor}" title="#{bundle.ViewSuscripcionTitle_valor}"/>
                        <h:outputText value="#{bundle.ViewSuscripcionLabel_estado}"/>
                        <h:outputText value="#{suscripcionController.selected.estado}" title="#{bundle.ViewSuscripcionTitle_estado}"/>
                        <h:outputText value="#{bundle.ViewSuscripcionLabel_plazo}"/>
                        <h:outputText value="#{suscripcionController.selected.plazo}" title="#{bundle.ViewSuscripcionTitle_plazo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SuscripcionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
