<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.CreateUsuarioTitle_correo}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{usuarioController.selected.estado}" title="#{bundle.CreateUsuarioTitle_estado}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usuarioController.selected.password}" title="#{bundle.CreateUsuarioTitle_password}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_hosteria}" for="hosteria" />
                        <p:selectOneMenu id="hosteria" value="#{usuarioController.selected.hosteria}" >
                            <f:selectItems value="#{hosteriaController.itemsAvailableSelectOne}"
                                           var="hosteriaItem"
                                           itemValue="#{hosteriaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_tipoUsuarioId}" for="tipoUsuarioId" />
                        <p:selectOneMenu id="tipoUsuarioId" value="#{usuarioController.selected.tipoUsuarioId}" >
                            <f:selectItems value="#{tipoUsuarioController.itemsAvailableSelectOne}"
                                           var="tipoUsuarioIdItem"
                                           itemValue="#{tipoUsuarioIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_suscripcionId}" for="suscripcionId" />
                        <p:selectOneMenu id="suscripcionId" value="#{usuarioController.selected.suscripcionId}" >
                            <f:selectItems value="#{suscripcionController.itemsAvailableSelectOne}"
                                           var="suscripcionIdItem"
                                           itemValue="#{suscripcionIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
