<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.EditUsuarioTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.EditUsuarioTitle_correo}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usuarioController.selected.password}" title="#{bundle.EditUsuarioTitle_password}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_hosteria}" for="hosteria" />
                        <p:selectOneMenu id="hosteria"  style="width: 100px;" value="#{usuarioController.selected.hosteria}" >
                            <f:selectItem itemLabel="Seleccione una hostería"/>
                            <f:selectItems value="#{hosteriaController.itemsAvailableSelectOne}"
                                           var="hosteriaItem"
                                           itemValue="#{hosteriaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Tipo de usuario" for="tipoUsuarioId" />
                        <p:selectOneMenu id="tipoUsuarioId"  style="width: 100px;" value="#{usuarioController.selected.tipoUsuarioId}" >
                            <f:selectItem itemLabel="Seleccione un tipo de usuario"/>
                            <f:selectItems value="#{tipoUsuarioController.itemsAvailableSelectOne}"
                                           var="tipoUsuarioIdItem"
                                           itemValue="#{tipoUsuarioIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Tipo de suscripción" for="suscripcionId" />
                        <p:selectOneMenu id="suscripcionId"  style="width: 100px;" value="#{usuarioController.selected.suscripcionId}" >
                            <f:selectItem itemLabel="Seleccione un tipo de suscripción"/>
                            <f:selectItems value="#{suscripcionController.itemsAvailableSelectOne}"
                                           var="suscripcionIdItem"
                                           itemValue="#{suscripcionIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="Guardar" update="@all" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
