<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuarioTitle}">
            <h:form id="UsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuarioLabel_id}"/>
                        <h:outputText value="#{usuarioController.selected.id}" title="#{bundle.ViewUsuarioTitle_id}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_nombre}"/>
                        <h:outputText value="#{usuarioController.selected.nombre}" title="#{bundle.ViewUsuarioTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_correo}"/>
                        <h:outputText value="#{usuarioController.selected.correo}" title="#{bundle.ViewUsuarioTitle_correo}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_fechaIngreso}"/>
                        <h:outputText value="#{usuarioController.selected.fechaIngreso}" title="#{bundle.ViewUsuarioTitle_fechaIngreso}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_fechaCorte}"/>
                        <h:outputText value="#{usuarioController.selected.fechaCorte}" title="#{bundle.ViewUsuarioTitle_fechaCorte}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_estado}"/>
                        <h:outputText value="#{usuarioController.selected.estado}" title="#{bundle.ViewUsuarioTitle_estado}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_password}"/>
                        <h:outputText value="#{usuarioController.selected.password}" title="#{bundle.ViewUsuarioTitle_password}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_hosteria}"/>
                        <h:outputText value="#{usuarioController.selected.hosteria}" title="#{bundle.ViewUsuarioTitle_hosteria}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_tipoUsuarioId}"/>
                        <h:outputText value="#{usuarioController.selected.tipoUsuarioId}" title="#{bundle.ViewUsuarioTitle_tipoUsuarioId}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_suscripcionId}"/>
                        <h:outputText value="#{usuarioController.selected.suscripcionId}" title="#{bundle.ViewUsuarioTitle_suscripcionId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
