<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body class="">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>


        <div class="row flexrow ">
            <div class="col s3 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s9 centrar menubanner">
                <div class="flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="Cuenta" rendered="#{loginController.usuarioLogueado.tipoUsuarioId.id == 1 }"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administración"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                    <h:link class="boton4 tipo4 texto3" outcome="index" value="cerrar"/>
                </div>
            </div>


        </div>





        <h:form>
            <p:growl id="gpErrores" showDetail="true"/>
            <div class="row alto " >

                <div class="flexcenter ">
                    <div class="">
                        <div class=" ">

                            <p:dataTable id="datalist" value="#{bitacoraController.items}" var="item"
                                         selectionMode="single" selection="#{bitacoraController.selected}"
                                         paginator="true"
                                         rowKey="#{item.id}"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         >

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Código factura"/>
                                    </f:facet>
                                    <h:outputText value="#{item.facturaId.id}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListBitacoraTitle_accion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.accion}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListBitacoraTitle_fecha}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fecha}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="America/Bogota"/>
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Valor total"/>
                                    </f:facet>
                                    <h:outputText value="$#{item.facturaId.valorNeto}"/>
                                </p:column>
                            </p:dataTable>


                        </div>
                    </div>

                </div>



            </div>


        </h:form>




    </h:body>

</html>
