<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <title>Mi cuenta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <h:body class="backgroundcuenta"> 
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <div class="row  ">
            <div class=" col s6 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s6 ">
                <div class="content-btn flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="cuenta" rendered="#{loginController.usuarioLogueado.tipoUsuarioId.id == 1 }"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administración"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                    <h:link class="boton4 tipo4 texto3" outcome="login" value="Cerrar"/>
                </div>
            </div>

        </div>

        <h:form id="UsuarioListForm">
            <p:dataTable id="datalist" value="#{usuarioController.items}" var="item"
                         selectionMode="single" selection="#{usuarioController.selected}"
                         paginator="true"
                         rowKey="#{item.id}"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         >

                <p:ajax event="rowSelect"   update="  editButton deleteButton"/>
                <p:ajax event="rowUnselect" update="  editButton deleteButton"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{bundle.ListUsuarioTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{bundle.ListUsuarioTitle_correo}"/>
                    </f:facet>
                    <h:outputText value="#{item.correo}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Inicio de suscripción"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaIngreso}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Fin de suscripción"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaCorte}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Hostería"/>
                    </f:facet>
                    <h:outputText value="#{item.hosteria.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tipo de usuario"/>
                    </f:facet>
                    <h:outputText value="#{item.tipoUsuarioId.toString()}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tipo de suscripción"/>
                    </f:facet>
                    <h:outputText value="#{item.suscripcionId.toString()}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Contraseña"/>
                    </f:facet>
                    <h:outputText value="#{item.password}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Activo"/>
                    </f:facet>
                    <h:outputText value="#{item.estado}"/>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":UsuarioEditForm" oncomplete="PF('UsuarioEditDialog').show()" disabled="#{empty usuarioController.selected}"/>
                    <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Borrar" action="#{usuarioController.destroy()}" update="@all" disabled="#{empty usuarioController.selected}"/>
                    <p:commandButton icon="ui-icon-pencil" value="Cambiar estado" update="@all"
                                     action="#{usuarioController.inactivarUsuario()}"/>
                </f:facet>
            </p:dataTable>
        </h:form>

        <ui:include src="usuario/Edit.xhtml"/>
    </h:body>

</html>
