<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


            <ui:composition>
                <p:dialog id="FacturaViewDlg" widgetVar="FacturaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFacturaTitle}">
                    <h:form id="FacturaViewForm">
                        <h:panelGroup id="display">
                            <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                                <h:outputText value="#{bundle.ViewFacturaLabel_id}"/>
                                <h:outputText value="#{facturaController.selected.id}" title="#{bundle.ViewFacturaTitle_id}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_fecha}"/>
                                <h:outputText value="#{facturaController.selected.fecha}" title="#{bundle.ViewFacturaTitle_fecha}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                                <h:outputText value="#{bundle.ViewFacturaLabel_cliente}"/>
                                <h:outputText value="#{facturaController.selected.cliente}" title="#{bundle.ViewFacturaTitle_cliente}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_estado}"/>
                                <h:outputText value="#{facturaController.selected.estado}" title="#{bundle.ViewFacturaTitle_estado}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_valorTotal}"/>
                                <h:outputText value="#{facturaController.selected.valorTotal}" title="#{bundle.ViewFacturaTitle_valorTotal}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_iva}"/>
                                <h:outputText value="#{facturaController.selected.iva}" title="#{bundle.ViewFacturaTitle_iva}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_valorNeto}"/>
                                <h:outputText value="#{facturaController.selected.valorNeto}" title="#{bundle.ViewFacturaTitle_valorNeto}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_usuarioId}"/>
                                <h:outputText value="#{facturaController.selected.usuarioId}" title="#{bundle.ViewFacturaTitle_usuarioId}"/>
                                <h:outputText value="#{bundle.ViewFacturaLabel_servicioId}"/>
                                <h:outputText value="#{facturaController.selected.servicioId}" title="#{bundle.ViewFacturaTitle_servicioId}"/>
                            </p:panelGrid>
                            <p:commandButton value="Volver" onclick="FacturaViewDialog.hide()"/>
                        </h:panelGroup>
                    </h:form>
                </p:dialog>
            </ui:composition>




</html>
