<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <title>Hosteria</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <h:body> 
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <div class="row flexrow ">
            <div class="col s3 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s9 centrar menubanner">
                <div class="flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="Mi cuenta"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administracón"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                </div>
            </div>


        </div>


        <div>




            <h:form id="ServicioListForm">


                <p:outputLabel value="Nombre del cliente" for="cliente" />
                <p:inputText id="cliente" value="#{facturaController.nuevo.cliente}" title="#{bundle.CreateFacturaTitle_cliente}" />
                <br></br>
                <p:outputLabel value="Generador de la factura" for="usuarioId" />
                <br></br>
                <p:selectOneMenu id="usuarioId" value="#{facturaController.nuevo.usuarioId}" >
                    <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                   var="usuarioIdItem"
                                   itemValue="#{usuarioIdItem}"/>
                </p:selectOneMenu>
                <br></br>

                <p:outputLabel value="Código del servicio" for="servicioId" />
                <br></br>
                <p:selectOneMenu id="servicioId" value="#{facturaController.nuevo.servicioId}" >
                    <f:selectItems value="#{servicioController.itemsAvailableSelectOne}"
                                   var="servicioIdItem"
                                   itemValue="#{servicioIdItem}"/>
                </p:selectOneMenu>
                <br></br>
                <p:commandButton action="#{facturaController.create()}" value="Guardar" update="@form" oncomplete="handleSubmit(args,'FacturaCreateDialog');"/>



                <p:panel header="#{bundle.ListServicioTitle}">
                    <p:dataTable id="datalist" value="#{facturaController.items}" var="item"
                                 selectionMode="single" selection="#{facturaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="editButton viewButton"/>
                        <p:ajax event="rowUnselect" update="editButton viewButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturaTitle_cliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.cliente.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Número de habitación"/>
                            </f:facet>
                            <h:outputText value="#{item.servicioId.habitacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Tipo de habitación"/>
                            </f:facet>
                            <h:outputText value="#{item.servicioId.habitacion.tipoHabitacion.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Hora entrada"/>
                            </f:facet>
                            <h:outputText value="#{item.servicioId.checkIn}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Hora salida"/>
                            </f:facet>
                            <h:outputText value="#{item.servicioId.checkOut}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Servicios Adicionales"/>
                            </f:facet>
                            <h:outputText value="#{item.servicioId.productoAdicional.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturaTitle_valorNeto}"/>
                            </f:facet>
                            <h:outputText value="$#{item.valorNeto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Activa"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="editButton" icon="ui-icon-pencil" value="Cambiar estado" update="@form" disabled="#{empty facturaController.selected}"
                                             action="#{facturaController.inactivarFactura()}"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Ver detalle" update="@form" onclick="FacturaViewDialog.show()" disabled="#{empty facturaController.selected}"/>
                        </f:facet>
                    </p:dataTable>

                </p:panel>
            </h:form>


        </div>


    </h:body>

</html>
