<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Habitación</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body class="">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>


        <div class="row flexrow ">
            <div class="col s3 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s9 centrar menubanner">
                <div class="flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="Cuenta" rendered="#{loginController.usuarioLogueado.tipoUsuarioId.id == 1 }"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administración"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                    <h:link class="boton4 tipo4 texto3" outcome="index" value="cerrar"/>
                </div>
            </div>


        </div>





        <h:form id="fomrhabitacion">
            <p:growl id="gpErrores" showDetail="true"/>



            <div class="row" >


                <div class="col s5">

                    <div>
                        <div class="centrar">
                            <div class="  ">
                                <h:link class="texto1 underline " outcome="habitacion" value="Habitacion"/>
                            </div>
                            <div class="">
                                <h:link class="texto2 " outcome="tipo_habitacion" value="Tipo Habitacion"/>
                            </div>
                        </div>


                        <div>
                            <div>
                                <p:outputLabel value="#{bundle.CreateHabitacionLabel_estado}" for="estado" />

                            </div>
                            <div>
                                <p:selectOneMenu id="estado" style="width: 200px;" value="#{habitacionController.nuevo.estado}">
                                    <f:selectItem itemLabel="--¿Habitación disponible?--" itemValue="" />
                                    <f:selectItem itemLabel="--SI--" itemValue="Si" />
                                    <f:selectItem itemLabel="--NO--" itemValue="No" />
                                </p:selectOneMenu>
                            </div>


                        </div>

                        <div>
                            <div>
                                <p:outputLabel value="Tipo de habitación" for="tipoHabitacion" />
                            </div>

                            <div>
                                <p:selectOneMenu id="tipoHabitacion" style="width: 100px;" value="#{habitacionController.nuevo.tipoHabitacion}" >
                                    <f:selectItems value="#{tipoHabitacionController.itemsAvailableSelectOne}"
                                                   var="tipoHabitacionItem"
                                                   itemValue="#{tipoHabitacionItem}"/>
                                </p:selectOneMenu>
                            </div>



                        </div>
                        <div class="center">
                            <p:commandLink class="boton3 tipo3" actionListener="#{habitacionController.create()}" value="Guardar" update="@form"/>
                        </div>
                    </div>
                </div>




                <div class="col s6">
                    <div class="">
                        <p:dataTable id="datalist" value="#{habitacionController.items}" var="item"
                                     selectionMode="single" selection="#{habitacionController.selected}"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowUnselect" update="deleteButton"/>
                            <p:ajax event="rowSelect"   update="deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Número de habitación"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo de habitación"/>
                                </f:facet>
                                <h:outputText value="#{item.tipoHabitacion.toString()}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Precio"/>
                                </f:facet>
                                <h:outputText value="$#{item.tipoHabitacion.precio}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Disponible"/>
                                </f:facet>
                                <h:outputText value="#{item.estado}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton icon="ui-icon-pencil" value="Cambiar estado" update="@all"
                                                 action="#{habitacionController.inactivarHabitacion()}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Borrar" actionListener="#{habitacionController.destroy}" update="@all" disabled="#{empty habitacionController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":HabitacionEditForm" oncomplete="PF('HabitacionEditDialog').show()" disabled="#{empty habitacionController.selected}"/>
                                
                            </f:facet>
                        </p:dataTable>


                    </div>
                </div>







            </div>



        </h:form>


        <ui:include src="habitacion/Edit.xhtml"/>

    </h:body>

</html>
