<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Hosteria</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>
    </h:head>
    <h:body class="backgroundindex">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

       
            <div class="row ">
                
                 <div class="right">
                     <div class="content-btn">
                        <h:link class="boton tipo1" outcome="login" value="Iniciar Sesión"/>
                        <h:link class="boton tipo2" outcome="registar" value="Registrar"/>
                   </div>
                </div>
                
                <div class="col s12 center  ">
                    <div class="logo">
                        <div class="logocentrar">
                            <img class="logosize" src="img/logo.png"></img>
                            <p class="title">El primer mes GRATIS.</p>
                            <div >
                                <h:link class="boton2 tipo2" outcome="registar" value="Iniciar Prueba"/>
                            </div>
                             
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        
        
        
    






    </h:body>









</html>

