<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Producto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body class="">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <div class="row flexrow ">
            <div class="col s3 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s9 centrar menubanner">
                <div class="flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="Cuenta" rendered="#{loginController.usuarioLogueado.tipoUsuarioId.id == 1 }"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administración"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                    <h:link class="boton4 tipo4 texto3" outcome="login" value="cerrar"/>
                </div>
            </div>


        </div>


        <h:form>
            <p:growl id="gpErrores" showDetail="true"/>
            <div class="row " >
                <div class="col s5" >

                    <div class=" ">
                        <div class="center">
                            <h:link class="texto2 underline" outcome="volverInicio" value="Agregar productos"/>
                        </div>
                        <div>
                            <p:outputLabel value="#{bundle.CreateProductoLabel_nombre}" for="nombre" />  
                        </div>
                        <div>
                            <p:inputText id="nombre" value="#{productoController.nuevo.nombre}" title="#{bundle.CreateProductoTitle_nombre}" />  
                        </div>
                        <div>
                            <p:outputLabel value="#{bundle.CreateProductoLabel_precio}" for="precio" />
                        </div>
                        <div>
                            <p:inputText id="precio" value="#{productoController.nuevo.precio}" title="#{bundle.CreateProductoTitle_precio}" />
                        </div>
                        <div>
                            <p:outputLabel value="#{bundle.CreateProductoLabel_cantidad}" for="cantidad" />   
                        </div>
                        <div>
                            <p:inputText id="cantidad" value="#{productoController.nuevo.cantidad}" title="#{bundle.CreateProductoTitle_cantidad}" />
                        </div>
                        <div class="center">
                            <p:commandLink class="boton3 tipo3" actionListener="#{productoController.create}" value="Guardar" update="@form"/>
                        </div>



                    </div>

                </div>







                <div class="col s6 ">
                    <div class="">
                        <div class=" ">


                            <p:dataTable id="datalist" value="#{productoController.items}" var="item"
                                         selectionMode="single" selection="#{productoController.selected}"
                                         paginator="true"
                                         rowKey="#{item.id}"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         >

                                <p:ajax event="rowSelect"   update="deleteButton"/>
                                <p:ajax event="rowUnselect" update="deleteButton"/>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListProductoTitle_nombre}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nombre}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListProductoTitle_precio}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.precio}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListProductoTitle_cantidad}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.cantidad}"/>
                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Borrar" actionListener="#{productoController.destroy}"  disabled="#{empty productoController.selected}" update="@form"/>
                                    <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":ProductoEditForm" oncomplete="PF('ProductoEditDialog').show()" disabled="#{empty productoController.selected}"/>
                                </f:facet>
                            </p:dataTable>


                        </div>
                    </div>

                </div>



            </div>



        </h:form>


        <ui:include src="producto/Edit.xhtml"/>

    </h:body>

</html>
