<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Registrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body class="backgroundlogin">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <h:form>
            <p:growl id="gpErrores" showDetail="true"/>
            <div class="row alto " >
                <div class="col s7 push-s5 alto  " >

                    <div class="row alto centrar ">
                        <div>
                            <div class="flexrow  ">
                                <div class="  ">
                                    <h:link class="texto1  " outcome="login" value="Iniciar Sesión"/>
                                </div>
                                <div class="">
                                    <h:link class="texto2 underline" outcome="registar" value="registrar"/>
                                </div>
                            </div>


                            <div class="flexcenter ">
                                <div class="">
                                    <div class=" ">


                                        <div class="input-field ">
                                            <p:outputLabel value="Nombre" />
                                            <p:inputText value="#{usuarioController.selected.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" required="true"/>

                                        </div>
                                        <div class="input-field">
                                            <p:outputLabel value="Correo"/>
                                            <p:inputText value="#{usuarioController.selected.correo}" title="#{bundle.CreateUsuarioTitle_correo}" required="true"/>
                                        </div>
                                        <div class="input-field">
                                            <p:outputLabel value="Contraseña:"/>
                                            <p:password value="#{usuarioController.selected.password}" title="#{bundle.CreateUsuarioTitle_password}" required="true"/>
                                        </div>


                                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_hosteria}" for="hosteria" />
                                        <br></br>
                                        <p:selectOneMenu id="hosteria"  style="width: 100px;" value="#{usuarioController.selected.hosteria}" >
                                            <f:selectItems value="#{hosteriaController.itemsAvailableSelectOne}"
                                                           var="hosteriaItem"
                                                           itemValue="#{hosteriaItem}"/>
                                        </p:selectOneMenu>
                                        <br></br>


                                        <p:commandLink value="Elegir suscripción"  update="@form" class="boton3 tipo3" action="#{usuarioController.irSuscripcion()}"/>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>

</html>
