<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <title>Hosteria</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <h:body> 
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <div class="row flexrow ">
            <div class="col s3 ">
                <h:link  outcome="bienvenida"><img class="logosize2" src="img/logo.png"></img></h:link>
            </div>


            <div class="col s9 centrar menubanner">
                <div class="flexright ">
                    <h:link class="boton4 tipo4 texto3" outcome="cuenta" value="Cuenta" rendered="#{loginController.usuarioLogueado.tipoUsuarioId.id == 1 }"/>
                    <h:link class="boton4 tipo4 texto3" outcome="administracion" value="Administración"/>
                    <h:link class="boton4 tipo4 texto3" outcome="servicios" value="Servicios"/>
                    <h:link class="boton4 tipo4 texto3" outcome="login" value="cerrar"/>
                </div>
            </div>


        </div>





        <div class="row">
            <h:form id="ServicioListForm">



                <p:growl id="message" showDetail="true" />


                <!--Ventana emergente-->
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                    <p:commandButton value="Volver" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </p:confirmDialog>


                <div class="col s4 flexright">
                    <div class="centrar">
                        <h1 class="texto4">Agregar Servicio</h1>
                    </div>

                    <div>
                        <p:outputLabel value="Nombre del cliente" class="texto2" for="cliente" />
                        <p:inputText id="cliente" value="#{servicioController.nombreCliente}" title="#{bundle.CreateFacturaTitle_cliente}" />
                    </div>

                    <div>
                        <div>
                            <p:outputLabel value="Habitación" class="texto2" for="habitacion" />
                        </div>

                        <div>
                            <p:selectOneMenu id="habitacion" style="width: 100px;" value="#{servicioController.nuevo.habitacion}" >
                                <f:selectItems value="#{habitacionController.itemsAvailableSelectOne}"
                                               var="habitacionItem"
                                               itemValue="#{habitacionItem}"/>
                            </p:selectOneMenu>
                            <br/>
                        </div>

                    </div>

                    <!--
                                        <div>
                                            <p:outputLabel value="Numero de habitación" class="texto2" for="numHabitacion" />
                                            <p:inputText id="numHabitacion" value="#{servicioController.numHabitacion}" title="#{bundle.CreateFacturaTitle_cliente}" />
                    
                                        </div>
                    -->



                    <div>
                        <div>
                            <p:outputLabel value="Producto adicional" class="texto2" for="productoAdicional" />
                        </div>
                        <div>
                            <p:selectOneMenu id="productoAdicional" style="width: 100px;" value="#{servicioController.nuevo.productoAdicional}" >
                                <f:selectItems value="#{productoController.itemsAvailableSelectOne}"

                                               var="productoAdicionalItem"
                                               itemValue="#{productoAdicionalItem}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="centrar">
                        <p:commandLink action="#{servicioController.create()}" class="boton3 tipo3" value="Guardar" update="@form" oncomplete="handleSubmit(args,'ServicioCreateDialog');"/>

                    </div>

                </div>




                <div class="col s7 ">

                    <p:dataTable id="datalist" value="#{servicioController.items}" var="item"
                                 selectionMode="single" selection="#{servicioController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"


                                 >



                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Código"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListServicioTitle_checkIn}"/>
                            </f:facet>
                            <h:outputText value="#{item.checkIn}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  timeZone="America/Bogota"/>
                            </h:outputText>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListServicioTitle_checkOut}"/>
                            </f:facet>
                            <h:outputText value="#{item.checkOut}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  timeZone="America/Bogota"/>
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListServicioTitle_habitacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.habitacion.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Producto adicional"/>
                            </f:facet>
                            <h:outputText value="#{item.productoAdicional.toString()}"/>
                        </p:column>
                        <f:facet name="footer" class="table">
                            <p:commandButton id="deleteButton" class="boton3 tipo3 texto3"  value="Cancelar Servicio" action="#{servicioController.destroy()}" update="@form"/>
                            <p:commandButton    class="boton3 tipo3 texto3" value="Finalizar Servicio" action="#{servicioController.finalizarFactura()}" update="@form"/>

                            <!--MENSAJE QUE FALTA PERRA!!!!-->

                            <p:commandButton id="viewButton"  class="boton3 tipo3 texto3"  value="Detalle factura" update=":FacturaViewForm" oncomplete="PF('FacturaViewDialog').show()" disabled="#{empty facturaController.selected}" action="#{servicioController.detalleFactura()}"/>
                            <p:commandButton id="editButton"  class="boton3 tipo3 texto3"   value="Editar" update=":ServicioEditForm" oncomplete="PF('ServicioEditDialog').show()" />
                        </f:facet>

                    </p:dataTable>








                </div>

            </h:form> 
        </div>

        <ui:include src="factura/View.xhtml"/>
        <ui:include src="servicio/Edit.xhtml"/>
    </h:body>

</html>
