<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Suscripcion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body class="backgroundsuscripcion">
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <h:form>



            <div class="row flexleft">
                <div class="col s2 ">
                    <h:link  outcome="bienvenida"><img class="logosize3" src="img/logo.png"></img></h:link>
                </div>
            </div>

            <p:growl id="gpErrores" showDetail="true"/>
            <div class="row" >
                <div class=" centrar" >

                    <div class="">
                        <p:commandButton value="Mes a Mes "  update="@form" class="targetaSuscripcion1" action="#{usuarioController.seleccionarMensual()}"/>
                    </div>

                    <div>
                        <p:commandButton value="Año"  update="@form" class="targetaSuscripcion2" action="#{usuarioController.seleccionarAnual()}"/>
                    </div>

                    <div>
                        <p:commandButton value="5 Meses"  update="@form" class="targetaSuscripcion1" action="#{usuarioController.seleccionarSemestral()}"/>
                    </div>



                </div>
            </div>


        </h:form>




    </h:body>

</html>
